<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{epicDetails.name}}</mat-card-title>
      <mat-card-subtitle>{{epicDetails.description}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-list-item>
            <div matLine>
                Priority: 
                <button mat-button>{{epicDetails.priority}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                State: 
                <button mat-button>{{epicDetails.state}}</button>
            </div>
        </mat-list-item>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="edit(epicId)" mat-icon-button color="accent"><i class="fa fa-pencil"></i></button>
        <button (click)="delete(epicId)" mat-icon-button color="primary"><i class="fa fa-trash"></i></button>
    </mat-card-actions>
  </mat-card>
  